---
layout: default
---


{% for image in site.static_files %}
{% if image.path contains 'assets/img/photos-ha5p' %}
<img class="ha5p-photos" src="{{ image.path }}" alt="">
{% endif %}
{% endfor %}

<div class="ha5p-ctn">
    {% for image in site.static_files %}
    {% if image.path contains 'assets/img/ha5p' %}
    <img class="ha5p-img" src="{{ image.path }}" alt="">
    {% endif %}
    {% endfor %}
</div>

<style>
    .ha5p-img:hover {
        max-height: 90vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        border: 10px solid white;
    }
    .ha5p-img {
        max-height: 50px;

        object-fit: contain;
        
    }
    .ha5p-ctn {
        /* width: fit-content; */
        gap: 10px;
        max-width: 100%;
        flex-wrap: wrap;
        /* flex-direction: column; */
        display: flex;
        padding-bottom: 10px;
    }
</style>