---
layout: default
---

<div class="up-couloir">
    {% for image in site.static_files %}
    {% if image.path contains 'assets/img/up/photos/couloir/' %}
    <img class="up-pattern" src="{{site.url}}{{site.baseurl}}{{ image.path }}" alt="">
    {% endif %}
    {% endfor %}
</div>

<!-- <div class="up-details">
    {% for image in site.static_files %}
    {% if image.path contains 'assets/img/up/photos/details/' %}
    <img  src="{{ image.path }}" alt="">
    {% endif %}
    {% endfor %}
</div> -->


<p> United Painting est un collectif non-lucratif de peintres qui réalise depuis 2004 des fresques en faisant participer les habitants des lieux investis. La direction du projet et le dessin des motifs sont effectués par la graphiste Marije Lytske Hester.</p><p>J'ai aidé le collectif à choisir des combinaisons de motifs à peindre sur les murs des couloirs de la gare d'Amsterdam Centraal en développant un outil qui permet de naviguer dans un nombre exponentiel de combinatoires possibles.  
</p><p>En effet, chaque motif est composé d'une paire de quatre couches de pochoirs à composer parmi trente formes et treize couleurs.    
</p><p> L'outil étant accessible en ligne, tous les participants étaient en mesure de proposer des combinaisons de motif.
</p>

<div class="up-ctn">
    {% for image in site.static_files %}
    {% if image.path contains 'assets/img/up/patterns/' %}
    <img class="up-pattern" src="{{site.url}}{{site.baseurl}}{{ image.path }}" alt="">
    {% endif %}
    {% endfor %}
</div>

<style>



.up-details {
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    padding: 10px 0;
}
.up-details img {
    max-width: 33%;
    align-self: center;
}


.up-ctn {
    display: flex;
    flex-wrap: wrap;
}
.up-pattern {
}


div {
    padding: 0;
}

</style>