<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	
	<!-- CSS & fonts -->
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="css/vars.css">
	<link rel="stylesheet" href="css/nav.css">
	<link rel="stylesheet" href="css/global.css">
	<!-- <script defer src="js/darkmode.js"></script> -->

	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap" rel="stylesheet"> 
	<!-- Put your fonts here -->

</head>